.header {
   padding: 20px 0;
}

.header-nav {
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: space-between;
}

#nav-logo {
   width: 80px;
   height: 28px;
}

.nav-button {
   list-style: none;
   display: flex;
   align-items: center;
   width: 100%;
   gap: 20px;
   padding: 0;
}

.nav-right {
   display: flex;
   align-items: flex-end;
}

#nav-preorder {
   display: flex;
   align-self: flex-end;
   align-items: center;
   color: rgb(255, 2, 2);
   font-family: "roag-bold";
   margin-left: auto;
   gap: 20px;
   padding: 0;
}

@media (min-width: 782px) {
   .header-nav {
      flex-direction: row;
   }
}
