.header-nav {
   display: flex;
   flex-direction: column;
   padding: 20px;
   height: 100px;
   gap: 10px;
}

#nav-logo {
   height: 80px;
   width: 100px;
}

.nav-row {
   display: flex;
   align-items: center;
   width: 100%;
}

.nav-button {
   list-style: none;
   display: flex;
   gap: 20px;
   margin: 0;
   padding: 0;
}

.nav-text {
   text-decoration: none;
   transition: color 0.2s;
}

.nav-text:hover {
   color: rgb(255, 2, 2);
}

#nav-preorder {
   align-items: center;
   color: rgb(255, 2, 2);
   font-family: "roag-bold";
   margin-left: auto;
   gap: 20px;
}

@media (min-width: 782px) {
   .header-nav {
      flex-direction: row;
      align-items: center;
   }

   .nav-row {
      margin-left: auto;
      width: auto;
   }
   .nav-text {
      text-decoration: none;
      transition: color 0.2s;
   }

   .nav-text:hover {
      color:  rgb(255, 2, 2);
      cursor: pointer;
   }

   #nav-preorder {
      margin-left: 40px;
      padding: 5px 20px;
      border-radius: 20px;
      transition: background 0.2s;
   }

   #nav-preorder:hover {
      padding: 5px 20px;
      border-radius: 20px;
      background-color:  rgb(254, 223, 228);
   }
}
